.kr-font{
  font-family: 'Noto Sans KR', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+KR&family=Nunito&display=swap');
.main-content-carousel{
  width: 1500px;
  height: 110%;
  margin-left: 20px;
  padding: 20px;
  margin-left:420px;
  overflow-y:scroll;
  overflow-x:hidden;
}
.main-box{
	height:1000px;
	width:110%;
}

.main-content-box{
	height:800px;
}}
.main-sub{
	height:100%;
	width:110%;
}
.result-alert{
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}

/*result box */
.result-box{
  margin-top: 30px;
  padding: 5px;
  width: 80%;
  height: 8%;
  margin-right: auto;
  margin-left: 100px;
  background-color: rgb(255, 217, 209);
  border-radius: 10px;
}
.app-icon-img{
  width: 100%;
  height: 100%;
  padding-top: 1px;
}
.app-icon-img img{
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.app-content-box{
  width: 100%;
  height: 100%;
  text-align: left;
  padding: 10px;
  color:black;
}
.star-point{
  font-size: 15px;
}
.word{
  overflow : hidden;
	text-overflow:ellipsis;
	white-space:nowrap;
  width: 100%;
  height: 40%;
  color: rgb(135, 134, 134);
}
.main-content-carousel{
	
}
/*result box */