body{
  box-sizing: border-box;
  height: 1000px;
}

.sidebar{
  height: 100%;
}
.community-left-box{
  width: 100%;
  height: 90%;
  margin-top: 30px;
  margin-left: 20px;
}
.main-content-box{
  height: 100%;
}
.left-inner-box{
  width: 100%;
  height: 100%;
  padding: 15%;
  
}
.article-navbox{
  background-color: #eee;
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border-radius: 20px;
}
.article-navbox ul{
  list-style: none;
  padding: 10px;
}
.article-box{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow:scroll;
  text-align: center;
  margin-left: 50px;
  overflow-x: hidden;
}
.article-list{
  display: block;
  position: relative;
  width: 50%;
  height: 25%;
  text-align: left;
  padding-left: 20px;
  padding-top: 40px;
  border-bottom: 1px solid rgb(215, 215, 215);
  border-right: 1px solid rgb(215, 215, 215);
  box-sizing: border-box;
  margin-right: -20px;
  margin-left: 20px;
  
}

/* community modal */
.comm-black-modal{
  width: 100%;
  height: 1500px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  z-index: 6;
  position: fixed;
  margin-top: -20px;
  display: none;
}
.comm-white-modal{
  width: 550px;
  min-width: 250px;
  height: 50%;
  background: white;
  position: inline-block;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  padding: 30px;
}
.modal-box{
  width: 100%;
  height: 100%;
  padding: 40px;
}
.comm-writing{
  margin-top: -20px;
  height: 10%;
  font-size: 28px;
  font-weight: 700;
}
.comm-writer{
  height: 15%;
  text-align: left;
}
.comm-option{
 height: 15%;
 text-align: left;
}
.comm-title{
  height: 15%;
  text-align: left;
}
.comm-content{
  height: 15%;
  text-align: left;
}
.modal-p{
  margin-bottom: 5px;
  font-family: 'Noto Sans KR', sans-serif;
}
.modal-select{
  background-color: #eee;
  width: 100px;
  height: 35px;
  border: none;
  border-radius: 10px;
}
.modal-area{
  width: 100%;
  height: 200px;
  background-color: #eee;
  border-radius: 10px;
  border: none;
}
.comm-input{
  width: 100%;
  height: 34px;
  border: none;
  background-color: #eee;
  border-radius: 10px;
}
.comm-btn{
  width: 50px;
  height: 50px;
  margin-top: 150px;
  text-align: right;
}
.comm-btn button{
}
/* community modal */
.main-content-box{
  text-align: center;
}
#commbtn{
  background: linear-gradient(to right, rgb(162, 161, 161),rgb(129, 124, 171));
  border: none;
}
@media screen and (max-width: 992px) {
  .article-box{
    position: relative;
    display: block;
    width: 200%;
    margin-left: -5px;
  }
  .article-navbox ul{
    font-size: 14px;
  }
}
@media screen and (max-width: 800px) {
  .article-navbox-ul{
    display: none;
  }
  
}