@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans+KR&family=Nunito&display=swap');
body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.font-kr{
  font-family: 'Noto Sans KR', sans-serif;
}

/******** main-box *********/
.main-box{
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-image: url('../assets/darkness.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.main-top{
  width: 100%;
  height: 10%;
  padding-left: 300px;
  padding-right: 300px;
}
.top-title-box{
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.title-inner-box {
  float: left;
  width: 40%;
  height: 100%;
}
.fa-search{
  font-size: 24px;
}
.search-btn{
  border: none;
  background: none;
}
.main-bottom{
  width: 100%;
  height: 60%;
}
.bottom-topbox{
  width: 100%;
  height: 60%;
}
.app-example-box{
  width: 100%;
  height: 450px;
  margin-top: 50px;
}
.app-animation-box{
  float: left;
  width: 40%;
  height: 100%;
}
.appicon-box{
  width: 120%;
  height: 100%;
  padding-top: 100px;
}
.appicon-box img{
  width: 100%;
  height: 100%;
}
.animation-left{
  padding-left: 100px;
}
.animation-right{
  padding-right: 100px;
}
.chart-box{
  width: 80%;
  height: 100%;
  margin-left: 30px;
}
.fade-leave-from { opacity: 0}
.fade-leave-active { transition: all 3s}
.fade-leave-to {opacity: 1}

#chartdiv{
  width: 100%;
}
.main-input{
  border: none;
  height: 50px;
  width: 300px;
  border-radius: 20px;
  background-color: #eee;
  box-shadow: gray 1px 1px 1px 1px;
}
.main-input:focus{
  outline: none;
}
.bottom-botbox{
  width: 100%;
  padding-left: 280px;
  padding-right: 280px;
}
.bot-main-box{
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 30px;
}
.bot-main-content{
  float: left;
  width: 33%;
  height: 100%;
  padding: 30px;
  margin-top:30px;
}
.content-go{
  width: 100%;
  height: 80%;
  background-color: #eee;
  border-radius: 30px;
  box-shadow: gray 2px 2px 2px 2px;
  padding: 30px;
}
.content-go:hover{
  background:linear-gradient(rgb(171, 171, 171),rgb(96, 96, 96));
  color: white;
}
.inner-content-box{
  width: 100%;
  height: 100%;
  text-align: left;
}
.flaticon{
  width: 100%;
  height: 30%;
  padding-top: 30px;
}
.flaticon i{
  font-size: 24px;
}
.direct-go{
  width: 100%;
  height: 10%;
  margin-top: 90px;
}
.direct-go p{
  color: black;
}
.main-title-word{
  font-size: 18px;
  font-weight: 700;
}

/******** sidebar-box *********/



/******** sidebar-box End *********/

/* first list box*/
.first-list-box{
  width: 100%;
  height: 15%;
  display: inline-block;
  margin-top: 20px;
  margin-left: 270px;
}
.list-inner-box{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
}

/* first list box*/


/******** main-content-box lower *********/
.main-content-lower{
  width: 90%;
  height: 60%;
  background-color: aliceblue;
  margin-top: 30px;
  padding: 15px;
  display: inline-block;
}

/******** main-content-box lower End *********/


