
.body{
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.font-kr{
  font-family: 'Noto Sans KR', sans-serif;
}



/******** main-box *********/
.main-box{
  width: 100vw;
  height: 1050px;
  text-align: center;
  background-color: #eee;
  /* background-image: url('https://i.stack.imgur.com/spmUM.gif'); */
  background-image: url('./resources/img/darkness.jpg');
  /* background: linear-gradient(rgb(81, 81, 208), rgb(43, 43, 43)); */
  /* background-image: url('https://cdn.pixabay.com/photo/2017/12/29/22/57/background-3048876_960_720.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
}
.main-top{
  width: 100%;
  height: 10%;
  padding-left: 300px;
  padding-right: 300px;
}
.top-title-box{
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.title-inner-box {
  float: left;
  width: 40%;
  height: 100%;
  margin-left:-4%;
}
.fa-search{
  font-size: 24px;
}
.search-btn{
  border: none;
  background: none;
}
.main-bottom{
  width: 100%;
  height: 60%;
}
.bottom-topbox{
  width: 100%;
  height: 60%;
}
.app-example-box{
  width: 100%;
  height: 400px;
  margin-top: 50px;
}
.main-input{
  border: none;
  height: 50px;
  width: 400px;
  border-radius: 20px;
  background-color: #eee;
}
.main-input:focus{
  outline: none;
}
.bottom-botbox{
  width: 100%;
  height: 80%;
  padding-left: 280px;
  padding-right: 280px;
}
.bot-main-box{
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-top: 30px;
}
.bot-main-content{
  float: left;
  width: 33%;
  height: 100%;
  padding: 30px;
}
.content-go{
  width: 100%;
  height: 100%;
  background-color: #eee;
  border-radius: 30px;
  box-shadow: gray 2px 2px 2px 2px;
  padding: 30px;
}
.content-go:hover{
  background:linear-gradient(rgb(137, 136, 136),rgb(119, 119, 254));
  color: white;
}
.inner-content-box{
  width: 100%;
  height: 100%;
  text-align: left;
}
.flaticon{
  width: 100%;
  height: 30%;
  padding-top: 30px;
}
.flaticon i{
  font-size: 24px;
}
.direct-go{
  width: 100%;
  height: 10%;
  margin-top: 90px;
}
.direct-go p{
  color: black;
}
.main-title-word{
  font-size: 18px;
  font-weight: 700;
}

/******** sidebar-box *********/



/******** sidebar-box End *********/

/* first list box*/
.first-list-box{
  width: 100%;
  height: 15%;
  display: inline-block;
  margin-top: 20px;
  margin-left: 270px;
}
.list-inner-box{
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
}

/* first list box*/


/******** main-content-box lower *********/
.main-content-lower{
  width: 90%;
  height: 60%;
  background-color: aliceblue;
  margin-top: 30px;
  padding: 15px;
  display: inline-block;
}

/******** main-content-box lower End *********/


