<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.mapper.AppMapper">
 
    <resultMap type="kr.project.domain.App" id="AppRM">
		<result property="appid" column="app_id"/>
		<result property="appname" column="app_name"/>
		<result property="appicon" column="img"/> 
		<result property="apprating" column="rating"/> 
		<result property="appinfo" column="des"/> 
		<result property="appurl" column="app_url"/>
		<result property="apppoint1" column=" rating_1"/> 
		<result property="apppoint2" column="rating_2"/> 
		<result property="apppoint3" column="rating_3"/> 
		<result property="apppoint4" column="rating_4"/> 
		<result property="apppoint5" column="rating_5"/> 
		<result property="appprice" column="app_price"/>
		<result property="appcate" column="app_cate"/>
		<result property="apppn" column="app_pn"/>
		<result property="evascore1" column="eva_score1"/>
		<result property="evascore2" column="eva_score2"/>
		<result property="evascore3" column="eva_score3"/>
		<result property="appcompany" column="develop_name"/>
	</resultMap>
	
    <resultMap type="kr.project.domain.AppImg" id="AppImgRM">
        <result property="imgno" column="img_no"/>
        <result property="appid" column="app_id"/>
        <result property="appimg1" column="app_img1"/>
        <result property="appimg2" column="app_img2"/>
        <result property="appimg3" column="app_img3"/>
        <result property="appimg4" column="app_img4"/>
    </resultMap>
	
    
    
    <select id ="appSearch" parameterType="String" resultMap="AppRM">
        select * from app_table where app_name like CONCAT('%',#{appname},'%')
    </select>
    
    <select id = "appInfomation" resultMap="AppRM">
        select * from app_table where app_id = #{appid}
    </select>
    
    <select id="appImg" resultMap="AppImgRM">
        select * from app_img where app_id=#{appid}
    </select>
    
    <select id="cateSearch" resultMap="AppRM">
        select * from app_table where app_cate like CONCAT(#{appcate},'%')
    </select>
    
    <select id="catePay" resultMap="AppRM" parameterType="map">
        select * from app_table where app_cate = #{payCate}
        <choose>
            <when test='payD.equals("F")'>
                and app_price is Null;
            </when>
            <when test='payD.equals("P")'>
                and app_price is Not Null;
            </when>
            <otherwise>
                and 1=1;
            </otherwise>
        </choose>
    </select>
    
    <select id="bookMarkImg" resultMap="AppRM">
        select app_table.app_id,app_table.img from app_table INNER JOIN bookmark_table on app_table.app_id = bookmark_table.app_id where bookmark_table.user_id = #{id} 
    </select>
    
    
 </mapper>